<div class="cbox">
    <div class="contentbox">
        <span id = "spancontent">Content</span>
        <p>Lorem ipsum dolor sit amet;
            consectetuer adipiscing elit.sed diam
            nanummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat
            volutpat.Lorem ipsum dolor sit amet;
            consectetuer adipiscing elit.</p>
        <span id = "spansubcontent">Sub Header</span>
        <p>Lorem ipsum dolor sit amet;
            consectetuer adipiscing elit.sed diam
            nanummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat
            volutpat.Lorem ipsum dolor sit amet;
            consectetuer adipiscing elit.sed diam
            nanummy nibh euismod  aliquam erat
            volutpat.Lorem ipsum dolor sit amet;
            consectetuer adipiscing elit.sed diam
            nanummy nibh euismod tincidunt ut
            laoreet</p>

    </div>
    <div class="navigationbox">
        <span id="spannavigator">Navigation</span>
        <ul>
            <li id="homeid1">  Home </li>
            <li id="productid1"> Product </li>
            <li id="companyid1"> Company </li>
            <li id="contactid1"> Contact </li>
        </ul>

    </div>

    <h3></h3>
</div>