span {
    padding: 2px;
    font-size: 18px;
    color: rgb(230, 227, 227);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
